.kris-bg {
    background-image: url('https://i.ibb.co/c2rc4pG/rdgf.jpg');
    background-repeat: repeat;
}

.space-bg {
    background-image: url('https://i.ibb.co/Z1m2YXJ/lh.jpg');
    background-repeat: repeat;
}

body {
    background: transparent;
}
