.kris-bg {
    background-image: url('https://i.ibb.co/hyPLLVN/gdfgdfgbkjkbjk.png');
    background-repeat: repeat;
}

h1 {
    font-family: 'Roboto Mono', monospace; /* Robotic-looking font */
    font-size: 24px;
    color: #000;
}

.space-bg {
    background-image: url('https://i.ibb.co/Z1m2YXJ/lh.jpg');
    background-repeat: repeat;
}

body {
    font-family: Arial, sans-serif; /* Add the font style for consistency */
    background: transparent;
    text-align: center; /* Aligns all content to the center */
    padding: 20px;
    margin: 0;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between items */
}

.link-item {
    text-align: center; /* Aligns text and images within each link item */
    width: 120px; /* Set a fixed width for each item */
}

.link-item img {
    width: 100%; /* Makes the image fill the container */
    height: auto;
}

.link-item p {
    margin-top: 8px; /* Space between image and text */
    font-size: 14px;
    color: #333;
}
