.kris-bg {
    background-image: url('https://i.ibb.co/hyPLLVN/gdfgdfgbkjkbjk.png');
    background-repeat: repeat;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    color: #000;
    text-shadow: 1px 1px 0px #fff; /* Light shadow for a retro effect */
}

.space-bg {
    background-image: url('https://i.ibb.co/Z1m2YXJ/lh.jpg');
    background-repeat: repeat;
}

body {
    font-family: Arial, sans-serif;
    background: transparent;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.link-item a {
    display: block;
    padding: 10px;
    background-color: #D4D4D8;
    border: 1px solid #FFF;
    box-shadow: inset -1px -1px 0 0 #0A246A, inset 1px 1px 0 0 #BFCBFD, 1px 1px 0 0 #000;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

.link-item a:hover {
    background-color: #E4E4F7; /* Lighter grey to simulate button press */
    box-shadow: inset 1px 1px 0 0 #0A246A, inset -1px -1px 0 0 #BFCBFD, -1px -1px 0 0 #000;
}

.link-item p {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #333;
    text-shadow: 1px 1px 0px #fff; /* Additional styling for text shadow */
}

.link-item {
    text-align: center;
    width: 120px;
}

.link-item img {
    width: 100%;
    height: auto;
}

