body {
    background-color: black;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    font-weight: 700;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
}

.item p {
    text-align: center;
    margin-top: 10px;
}

.item {
    background: #333;
    padding: 10px;
    border-radius: 5px;
}

.popup {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* White background for classic dialog look */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: 3px solid #000; /* Black border for sharp window contrast */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth, giving a slightly modern touch */
    border-radius: 5px; /* Slight rounding of corners for a modern touch, can be removed for more authenticity */
    padding: 20px;
}

.popup-image {
    width: 90%; /* Adjust as necessary to fit the design */
    height: auto;
    cursor: pointer; /* Suggests interactivity */
}

/* Simulated Window Control Buttons, enhancing the Windows XP feel */
.popup:before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    background-color: #ff5b5b; /* Red close button, characteristic of Windows controls */
    border-radius: 50%;
    box-shadow: 0 0 2px black;
    cursor: pointer;
}
